USE [master]
GO
/****** Object:  Database [FitLogDB]    Script Date: 21.04.2026 23:33:16 ******/
CREATE DATABASE [FitLogDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FitLogDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\FitLogDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FitLogDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\FitLogDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FitLogDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FitLogDB]
GO
/****** Object:  Table [dbo].[Paketler]    Script Date: 21.04.2026 23:33:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Paketler](
	[PaketID] [int] IDENTITY(1,1) NOT NULL,
	[YoneticiID] [int] NULL,
	[PaketAdi] [nvarchar](100) NOT NULL,
	[SureAy] [int] NOT NULL,
	[Fiyat] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PaketID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Uyeler]    Script Date: 21.04.2026 23:33:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Uyeler](
	[UyeID] [int] IDENTITY(1,1) NOT NULL,
	[YoneticiID] [int] NULL,
	[PaketID] [int] NULL,
	[AdSoyad] [nvarchar](100) NOT NULL,
	[Telefon] [nvarchar](15) NULL,
	[BaslangicTarihi] [date] NOT NULL,
	[BitisTarihi] [date] NOT NULL,
	[AktifMi] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[UyeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Yoneticiler]    Script Date: 21.04.2026 23:33:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Yoneticiler](
	[YoneticiID] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciAdi] [nvarchar](50) NOT NULL,
	[Sifre] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[YoneticiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Paketler] ON 

INSERT [dbo].[Paketler] ([PaketID], [YoneticiID], [PaketAdi], [SureAy], [Fiyat]) VALUES (2, 2, N'Silver paket', 6, CAST(9000.00 AS Decimal(10, 2)))
INSERT [dbo].[Paketler] ([PaketID], [YoneticiID], [PaketAdi], [SureAy], [Fiyat]) VALUES (5, 2, N'Gold paket', 6, CAST(18000.00 AS Decimal(10, 2)))
INSERT [dbo].[Paketler] ([PaketID], [YoneticiID], [PaketAdi], [SureAy], [Fiyat]) VALUES (7, 2, N'Diamond paket', 12, CAST(54000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Paketler] OFF
GO
SET IDENTITY_INSERT [dbo].[Uyeler] ON 

INSERT [dbo].[Uyeler] ([UyeID], [YoneticiID], [PaketID], [AdSoyad], [Telefon], [BaslangicTarihi], [BitisTarihi], [AktifMi]) VALUES (2, 2, 2, N'Mehmet Kara', N'05465302134', CAST(N'2026-02-03' AS Date), CAST(N'2026-08-03' AS Date), 1)
INSERT [dbo].[Uyeler] ([UyeID], [YoneticiID], [PaketID], [AdSoyad], [Telefon], [BaslangicTarihi], [BitisTarihi], [AktifMi]) VALUES (7, 2, 7, N'Aran Özer', N'05125346789', CAST(N'2025-11-21' AS Date), CAST(N'2026-11-21' AS Date), 1)
INSERT [dbo].[Uyeler] ([UyeID], [YoneticiID], [PaketID], [AdSoyad], [Telefon], [BaslangicTarihi], [BitisTarihi], [AktifMi]) VALUES (8, 2, 2, N'Eray Alkın', N'05123456574', CAST(N'2026-04-15' AS Date), CAST(N'2026-10-15' AS Date), 1)
SET IDENTITY_INSERT [dbo].[Uyeler] OFF
GO
SET IDENTITY_INSERT [dbo].[Yoneticiler] ON 

INSERT [dbo].[Yoneticiler] ([YoneticiID], [KullaniciAdi], [Sifre]) VALUES (1, N'admin', N'1234')
INSERT [dbo].[Yoneticiler] ([YoneticiID], [KullaniciAdi], [Sifre]) VALUES (2, N'Burak', N'burak1234')
SET IDENTITY_INSERT [dbo].[Yoneticiler] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Yonetici__5BAE6A759439A967]    Script Date: 21.04.2026 23:33:17 ******/
ALTER TABLE [dbo].[Yoneticiler] ADD UNIQUE NONCLUSTERED 
(
	[KullaniciAdi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Uyeler] ADD  DEFAULT ((1)) FOR [AktifMi]
GO
ALTER TABLE [dbo].[Paketler]  WITH CHECK ADD FOREIGN KEY([YoneticiID])
REFERENCES [dbo].[Yoneticiler] ([YoneticiID])
GO
ALTER TABLE [dbo].[Uyeler]  WITH CHECK ADD FOREIGN KEY([PaketID])
REFERENCES [dbo].[Paketler] ([PaketID])
GO
ALTER TABLE [dbo].[Uyeler]  WITH CHECK ADD FOREIGN KEY([YoneticiID])
REFERENCES [dbo].[Yoneticiler] ([YoneticiID])
GO
USE [master]
GO
